{% extends "layout.html" %}

{% block title %}
    map ELETON
{% endblock %}

{% block main %}
    <h2>ТОВ "ЕЛЕТОН"</h2>
    <p>Пн Вт Ср Чт Пт </p>
    <p>8.00 - 12.00 | обідня перерва | 13.00 - 17.00</p>
    <h4>Обідня перерва</h4>
    <p>з 12:00 до 13:00</p>
    <h4>Час відвантаження зі складу</h4>
    <p>з 8:30 до 11:45</p>
    <p>з 13:00 до 16:45</p>
    <p></p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2543.469933916664!2d30.48455091594241!3d50.39507909923392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c8d072586b3b%3A0xa159b1d8caf1bc71!2z0JXQm9CV0KLQntCdINCi0J7Qkg!5e0!3m2!1sru!2sua!4v1597213571726!5m2!1sru!2sua" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
{% endblock %}

